################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureAI.SpeechConcat/bin/Debug/net8.0
/AzureAI.SpeechConcat/obj
/AzureAI.SpeechConcat/appsettings.json
*.wav
*.txt
*.ssml
/zevlor.mp3
/zevlor.mp4
